/*------------------------------------------------------------------
* Project:        Royalheart - NonProfit Fundraising Charity HTML Template
* Author:         HtmlDesignTemplates
* URL:            https://themeforest.net/user/htmldesigntemplates
* Created:        09/14/2025
-------------------------------------------------------------------*/


/* 
Table of Content
1.SlickNav responsive
2.Slick Slider
*/

/* SlickNav responsive Start */
.slicknav_btn {
  position: absolute;
  display: block;
  float: right;
  padding: 0.438em 0.625em 0.438em 0.625em;
  line-height: 1.125em;
  cursor: pointer;
}

.slicknav_menu .slicknav_menutxt {
  display: block;
  line-height: 1.188em;
  float: left;
}

.slicknav_menu .slicknav_icon {
  float: left;
  margin: 0.188em 0 0 0.438em;
}

.slicknav_menu .slicknav_no-text {
  margin: 0
}

.slicknav_menu .slicknav_icon-bar {
  display: block;
  width: 1.125em;
  height: 0.125em;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
}

.slicknav_btn .slicknav_icon-bar+.slicknav_icon-bar {
  margin-top: 0.188em
}

.slicknav_nav {
  clear: both
}

.slicknav_nav ul,
.slicknav_nav li {
  display: block;
  margin: 0;
}

.slicknav_nav .slicknav_arrow {
  font-size: 0.5em;
  margin: 0 0 0 0.4em;
  color: black;
}

.slicknav_nav .slicknav_item {
  cursor: pointer;
}

.slicknav_nav .slicknav_row {
  display: block;
}

.slicknav_nav a {
  display: block
}

.slicknav_nav .slicknav_item a,
.slicknav_nav .slicknav_parent-link a {
  display: inline
}

.slicknav_menu:before,
.slicknav_menu:after {
  content: " ";
  display: table;
}

.slicknav_menu:after {
  clear: both
}

/* 
User Default Style
Change the following styles to modify the appearance of the menu.
*/

.slicknav_menu {
  font-size: 12px;
}

/* Button */

.slicknav_btn {
  margin: 0;
  text-decoration: none;
  background-color: transparent;
  padding: 0;
  position: relative;
  top: 0;
  right: 0;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

/* background color for responsive button */

.slicknav_btn.slicknav_open:before {
  font-family: 'FontAwesome';
  content: "\f00d"
}

.slicknav_btn.slicknav_collapsed:before {
  font-family: 'FontAwesome';
  content: "\f0c9"
}

.slicknav_btn.slicknav_open,
.slicknav_btn.slicknav_collapsed,
.slicknav_btn.slicknav_open:before,
.slicknav_btn.slicknav_collapsed:before {
  text-decoration: none;
  border: none;
}

.slicknav_btn.slicknav_open:before,
.slicknav_btn.slicknav_collapsed:before {
  font-size: 21px;
  color: #ffffff;
}

.slicknav_menutxt {
  line-height: 22px;
}

/* Button Text */

.slicknav_menu .slicknav_menutxt {
  color: #DFF2F2;
  font-weight: 400;
  font-size: 14px;
}

/* Button Lines */

.slicknav_menu .slicknav_icon-bar {
  background-color: #f5f5f5
}

.slicknav_menu {
  background: transparent;
  padding: 0;
  margin-top: 0;
}

.slicknav_nav {
  color: #B6B3C4;
  margin: 0;
  padding: 0;
  font-size: .875em
}

.slicknav_nav,
.slicknav_nav ul {
  list-style: none;
  overflow: hidden
}

.slicknav_nav ul {
  padding: 0;
  margin: 0;
  width: 100%;
  border-radius: 0;
  position: inherit;
  top: inherit;
  left: inherit;
  border: none;
  background-color: transparent;
  margin-bottom: 10px;
}

.slicknav_nav ul li {
  border-bottom: 0;
}

.dropdown-menu>li>a {
  padding: 10px 15px;
  font-size: 16px;
  border-bottom: 1px solid #333;
}

.dropdown-menu>li>a span {
  color: #444;
  font-size: 14px;
}

.bootstrap-select .dropdown-menu li {
  margin: 0;
}

/*.dropdown-menu>li:first-child>a{padding-top: 5px;}*/

.dropdown-menu>li:last-child>a {
  border: none;
}

.dropdown-menu>.active>a,
.dropdown-menu>.active>a:focus,
.dropdown-menu>.active>a:hover,
.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover {
  background: transparent;
  outline: none;
}

.slicknav_nav .slicknav_row {
  padding: 0;
  margin: 0;
}

.slicknav_nav a {
  padding: 10px 15px;
  margin: 0;
  text-decoration: none;
  color: black;
  display: block;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 12px;
  text-align: left;
}

.slicknav_nav .slicknav_item a,
.slicknav_nav .slicknav_parent-link a {
  padding: 10px 15px;
  margin: 0;
}

.slicknav_nav .slicknav_item a i {
  display: none;
}

.slicknav_nav .slicknav_item {
  position: relative;
}

.slicknav_nav .slicknav_item a {
  border-bottom: none;
  display: block;
}

.slicknav_nav {
  position: absolute;
  top: 85px;
  left: 120px;
  right: 0;
  background: #1F1D26;
  width: 100%;
  height: 200px;
  overflow: scroll;
}

.mag-slicknav .slicknav_nav {
  top: 67px;
}

.slicknav_nav ul li {
  padding-left: 0;
  background: #ffffff;
}

.slicknav_nav ul li li {
  padding-left: 0;
}

.slicknav_nav ul li ul a {
  padding: 10px 10px;
}

.slicknav_nav .slicknav_row:hover {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  background: #443E56;
  color: #FFF
}

.slicknav_nav a:hover {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  background: #443E56;
}

.slicknav_nav .slicknav_txtnode {
  margin-left: 15px;
}

.slicknav_nav .slicknav_arrow {
  font-size: 14px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding-top: 10px;
  width: 50px;
  text-align: center;
  border-left: 1px solid rgba(255, 255, 255, 0.05);
}

/* plus-minus or arrow sign */

.slicknav_nav .slicknav_arrow:hover {
  background: rgba(255, 255, 255, 0.05);
}

.slicknav_menu .slicknav_icon {
  display: none;
}

@media(min-width: 1100px) {
  div#slicknav-mobile {
    display: none;
  }
}

@media(max-width: 1099px) {
  div#slicknav-mobile {
    display: block;
  }

  #responsive-menu {
    display: none;
  }

  .slicknav_menu {
    display: block;
  }
}

@media (max-width: 767px) {
  nav.navbar.navbar-default.navbar-fixed-top.with-slicknav {
    background: rgba(0, 0, 0, 0.5);
  }
}


@media (max-width: 1100px) {

  .slicknav_btn.slicknav_open:before,
  .slicknav_btn.slicknav_collapsed:before {
    color: #ffffff;
    position: absolute;
    top: -40px;
    left: 400px;
  }

  .slicknav_nav {
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    background: white;
    width: 100%;
    height: 300px;
    overflow-y: scroll;
  }

  .nav-link {
    color: #1F1D26;
  }

  .nav-link:hover {
    background-color: #e91e63;
    color: white;
  }

  .dropdown-menu>li>a {
    padding: 10px 15px;
    font-size: 11px;
    border-bottom: 1px solid #333;
  }
}

@media (max-width: 850px) {

  .slicknav_btn.slicknav_open:before,
  .slicknav_btn.slicknav_collapsed:before {
    color: #ffffff;
    position: absolute;
    top: -40px;
    left: 200px;
  }

  .slicknav_nav {
    position: absolute;
    top: 75px;
    left: 0;
    right: 0;
    background: white;
    width: 100%;
    height: 250px;
    overflow-y: scroll;
  }

  .nav-link {
    color: #1F1D26;
  }

  .nav-link:hover {
    background-color: #e91e63;
    color: white;
  }

  .dropdown-menu>li>a {
    padding: 10px 15px;
    font-size: 11px;
    border-bottom: 1px solid #333;
  }
}

@media (max-width: 479px) {

  .slicknav_btn.slicknav_open:before,
  .slicknav_btn.slicknav_collapsed:before {
    color: white;
    position: absolute;
    top: -40px;
    left: -20px;
  }

  .slicknav_nav {
    position: absolute;
    top: 85px;
    left: 0;
    right: 0;
    background: white;
    color: gray !important;
    width: 100%;
    height: 200px;
    overflow-y: scroll;
  }

  .nav-link {
    color: #1F1D26;
  }

  .nav-link:hover {
    background-color: #e91e63 !important;
    color: white;
  }

  .dropdown-menu>li>a {
    padding: 10px 15px;
    font-size: 11px;
    border-bottom: 1px solid #333;
  }
}


/* Slick SLider Start */

.slick-slider {
  position: relative;

  display: block;
  box-sizing: border-box;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;

  display: block;
  overflow: hidden;

  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;

  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  display: table;

  content: '';
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;

  height: 100%;
  min-height: 1px;
}

[dir='rtl'] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;

  height: auto;

  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Slick SLider End */
